.btn {
  display: block;
  border: 2px solid black

}

#result {
  display: none;
}

h1 {
  color:red;
  text-align:center;
}

img {
  width: 175px;
  padding:1px;
  float: right;
  border:1px solid black

}

p {
  text-align:left;
}

body {
  background-color: skyblue;
}

form {
  text-align: left;
}